// Screen sizes
$screen-sm: 576px;
$screen-md: 720px; //768px
$screen-lg: 920px; //992px;
$screen-l: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

@mixin tablet {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
