:root {
  --color-primary: #ff0000;
  --color-light-grey: #f7f7f7;
  --color-grey: #e3e3e3;
  --color-black: #000000;
  --color-white: #ffffff;

  --font-xxs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 15px;
  --font-l: 18px;
  --font-xl: 24px;
  --font-xxl: 36px;
  --font-xxxl: 48px;
}
