:root {
  --color-primary: #00bc77;
  --color-black: #2c3e50;
  --color-white: #ffffff;

  --font-xxs: 10px;
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 24px;
  --font-xxl: 36px;
  --font-xxxl: 48px;
}
